{% extends 'base.html.twig' %}

{% block titre_page %}BDD Stages - Stages{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header bg-green">
                    <h2>Liste des Stages</h2>
                </div>

                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-stripped" id="sortable">
                            <thead>
                                <tr>
                                    <th>{{ knp_pagination_sortable(stages, 'Stage', 'title') }}</th>
                                    <th{% if stages.isSorted('category') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(stages, 'Catégorie', 'category') }}
                                    </th>
                                    <th{% if stages.isSorted('company') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(stages, 'Entreprise / Laboaratoire', 'company') }}
                                    </th>
                                    <th{% if stages.isSorted('country') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(stages, 'Pays', 'country') }}
                                    </th>
                                    <th{% if stages.isSorted('city') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(stages, 'Ville', 'city') }}
                                    </th>
                                    <th{% if stages.isSorted('startedOn') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(stages, 'Début', 'startedOn') }}
                                    </th>
                                    <th>Fin</th>
                                </tr>
                            </thead>

                            {% for stage in stages %}
                                <tr>
                                    <td><a href="/stage/{{ stage.id }}">{{ stage.title }}</a></td>
                                    <td>{{ stage.category.name }}</td>
                                    <td>{{ stage.company }}</td>
                                    <td>{{ stage.country }}</td>
                                    <td>{{ stage.city }}</td>
                                    <td>{{ stage.startedOn | date('d/m/Y') }}</td>
                                    <td>{{ stage.finishedOn | date('d/m/Y') }}</td>
                                </tr>
                            {% endfor %}
                        </table>

                        <div class="navigation">
                            {{ knp_pagination_render(stages) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}