{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block titre_page %}BDD Stages - Stages{% endblock %}

{% block content %}
    <div class="card">
        <div class="header bg-green">
            <h2>Liste des Stages</h2>
        </div>

        <div class="body">
            {{ form_start(form) }}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">{{ form_row(form.category, {'label': 'Catégorie'}) }}</div>
                        <div class="col-md-4">{{ form_row(form.title, {'label': 'Titre', 'attr': {'class': 'form-control'}}) }}</div>
                        <div class="col-md-4">{{ form_row(form.company, {'label': 'Entreprise / Laboratoire', 'attr': {'class': 'form-control'}}) }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">{{ form_row(form.country, {'label': 'Pays', 'attr': {'class': 'form-control'}}) }}</div>
                        <div class="col-md-4">{{ form_row(form.city, {'label': 'Ville', 'attr': {'class': 'form-control'}}) }}</div>
                        <div class="col-md-2">{{ form_row(form.duration, {'label': 'Durée', 'attr': {'class': 'form-control'}}) }}</div>
                        <div class="col-md-2"><button type="submit" class="btn btn-success">Rechercher</button></div>
                    </div>
                </div>
            {{ form_end(form) }}
            <div class="table-responsive">
                <table class="table table-stripped" id="sortable">
                    <thead>
                        <tr>
                            <th{% if stages.isSorted('category') %} class="sorted"{% endif %}>
                                {{ knp_pagination_sortable(stages, 'Catégorie', 'category') }}
                            </th>
                            <th{% if stages.isSorted('title') %} class="sorted"{% endif %}>
                                {{ knp_pagination_sortable(stages, 'Stage', 'title') }}
                            </th>
                            <th{% if stages.isSorted('company') %} class="sorted"{% endif %}>
                                {{ knp_pagination_sortable(stages, 'Entreprise / Laboaratoire', 'company') }}
                            </th>
                            <th{% if stages.isSorted('city') %} class="sorted"{% endif %}>
                                {{ knp_pagination_sortable(stages, 'Ville', 'city') }}
                            </th>
                            <th{% if stages.isSorted('country') %} class="sorted"{% endif %}>
                                {{ knp_pagination_sortable(stages, 'Pays', 'country') }}
                            </th>
                            <th{% if stages.isSorted('duration') %} class="sorted"{% endif %}>
                                {{ knp_pagination_sortable(stages, 'Durée', 'duration') }}
                            </th>
                        </tr>
                    </thead>

                    {% for stage in stages %}
                        <tr>
                            <td>{{ stage.category.name }}</td>
                            <td>
                                <a href="/stage/{{ stage.id }}">{{ stage.title }}</a>
                                {% if is_granted('edit', stage) %}
                                    <a href="/edit/{{ stage.id }}"><i class="material-icons" style="font-size: 14px">edit</i></a>
                                {% endif %}
                            </td>
                            <td>{{ stage.company }}</td>
                            <td>{{ stage.city }}</td>
                            <td>{{ stage.country }}</td>
                            <td>{{ stage.duration }} mois</td>
                        </tr>
                    {% endfor %}
                </table>

                <div class="navigation">
                    {{ knp_pagination_render(stages) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}