{% extends 'base.html.twig' %}

{% block additionnal_body_class %}ls-closed login-page openbook{% endblock %}

{% block titre_page %}BDD Stages - Stages{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header bg-green">
                    <h2>Liste des Stages</h2>
                </div>

                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-stripped">
                            <thead>
                                <tr>
                                    <th>Stage</th>
                                    <th>Catégorie</th>
                                    <th>Entreprise</th>
                                    <th>Ville</th>
                                    <th>Pays</th>
                                    <th>Début</th>
                                    <th>Fin</th>
                                    <th>Lien</th>
                                </tr>
                            </thead>

                            {% for stage in stages %}
                                <tr>
                                    <td>{{ stage.title }}</td>
                                    <td>{{ stage.category.name }}</td>
                                    <td>{{ stage.company }}</td>
                                    <td>{{ stage.city }}</td>
                                    <td>{{ stage.country }}</td>
                                    <td>{{ stage.startedOn | date('d/m/Y') }}</td>
                                    <td>{{ stage.finishedOn | date('d/m/Y') }}</td>
                                    <td><a href="/stage/{{ stage.id }}"><i class="material-icons">assignment</i></a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}