{% extends 'base.html.twig' %}

{% block titre_page %}BDD Stages - Mes Stages{% endblock %}

{% block content %}
    <div class="of_card">
        <div class="header bg-green">
            <h2>Stages Similaires</h2>
        </div>

        <div class="body">
            {% for s in stages %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="header bg-green">
                            <h2>
                                <a href="/stage/{{ s.id }}">{{ s.title }}</a>
                                <small>{{ s.category }} / {{ s.duration }} mois<br>
                                    {{ s.company }}<br>
                                    {{ s.city }} {{ s.postalCode }}, {{ s.country }}</small>
                            </h2>
                        </div>

                        <div class="body">
                            {{ s.description }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}