{% extends 'base.html.twig' %}

{% block titre_page %}BDD Stages - Mes Stages{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header bg-green">
                    <h2>Mes Stages</h2>
                </div>

                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-stripped" id="sortable">
                            <thead>
                                <tr>
                                    <th>Catégorie</th>
                                    <th>Stage</th>
                                    <th>Entreprise / Laboaratoire</th>
                                    <th>Ville</th>
                                    <th>Pays</th>
                                    <th>Durée</th>
                                </tr>
                            </thead>

                            {% for stage in stages %}
                                <tr>
                                    <td>{{ stage.category.name }}</td>
                                    <td><a href="/stage/{{ stage.id }}">{{ stage.title }}</a></td>
                                    <td>{{ stage.company }}</td>
                                    <td>{{ stage.city }}</td>
                                    <td>{{ stage.country }}</td>
                                    <td>{{ stage.duration }} mois</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}